.ms-scroll::-webkit-scrollbar {
    width: 8px;
  }

  .ms-scroll::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 5px;
  }

  .ms-scroll::-webkit-scrollbar-thumb {
    background: #999;
    border: 2px solid #ddd;
    border-radius: 5px;
  }